:root {
    --tolboolist-light: #ffffff;
    --tolboolist-mediumlight: #cccccc;
    --tolboolist-fbotton: #47adf1;
    --tolboolist-Goalsbottom: #9c72e4;
    --tolboolist-Recruitbotton: #64c0a9;
    --tolboolist-Mobilebotton: #f29f36;
    --tolboolist-Webbotton: #d863a1;
    --tolboolist-Salesbotton: #b0c926;
    --tolboolist-positive: green;
    --tolboolist-negative: red;
}

* {
    margin: 0;
}

body {
    background-color: var(--tolboolist-mediumlight);
}

#header {
    background-color: var(--tolboolist-light);
}

#logo {
    margin-top: 1rem;
}

#header-title {
    font-size: 3rem;
}

#header-menu {
    background-color: var(--tolboolist-light);
    width: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    box-sizing: border-box;
}

.button {
    background-color: transparent;
    border: 1px transparent;
    border-radius: 5px;
    margin: 0.5rem 0;
    border: 3px solid;
}

#ntask-button {
    background-color: var(--tolboolist-fbotton);
    color: var(--tolboolist-light);
    border-color: var(--tolboolist-fbotton);

}

#nsection-button {
    border-color: var(--tolboolist-mediumlight);
    color: var(--tolboolist-mediumlight);
}

#main-container {
    width: 80%;
    margin-top: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--tolboolist-light);
    box-sizing: border-box;
}

.macrolist {
    list-style: none;
    margin-left: 0;
    padding-left: 2rem;
}

.childlist {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.positive {
    border: 1px solid var(--tolboolist-positive);
    color: var(--tolboolist-positive);
    border-radius: 100%;
    padding: 2px;
    font-size: 10px;
}

.negative {
    border: 1px solid var(--tolboolist-negative);
    color: var(--tolboolist-negative);
    border-radius: 100%;
    padding: 2px;
    font-size: 10px;
}

.editorial-typetask {
    display: inline-block;
    border-radius: 20px;
    padding: 0.2rem;
    font-size: 10px;
    color: var(--tolboolist-light);
    background-color: var(--tolboolist-fbotton);
}

.goals-typetask {
    display: inline-block;
    border-radius: 20px;
    padding: 0.2rem;
    font-size: 10px;
    color: var(--tolboolist-light);
    background-color: var(--tolboolist-Goalsbottom);
}

.recruiting-typetask {
    display: inline-block;
    border-radius: 20px;
    padding: 0.2rem;
    font-size: 10px;
    color: var(--tolboolist-light);
    background-color: var(--tolboolist-Recruitbotton);
}

.mobile-typetask {
    display: inline-block;
    border-radius: 20px;
    padding: 0.2rem;
    font-size: 10px;
    color: var(--tolboolist-light);
    background-color: var(--tolboolist-Mobilebotton);
}

.website-typetask {
    display: inline-block;
    border-radius: 20px;
    padding: 0.2rem;
    font-size: 10px;
    color: var(--tolboolist-light);
    background-color: var(--tolboolist-Webbotton);
}

.sales-typetask {
    display: inline-block;
    border-radius: 20px;
    padding: 0.2rem;
    font-size: 10px;
    color: var(--tolboolist-light);
    background-color: var(--tolboolist-Salesbotton);
}